$bg-white: #ffffff;
$bg-blue-90: #f7f8fa;
$bg-blue-35: #2d3c59;
$bg-blue: #3361ff;
$bg-dark-blue: #202b40;
$bg-green: #29cc39;
$bg-yellow: #ffcb33;
$bg-red: #e62e2e;
$bg-purple: #8833ff;
$bg-orange: #ff6633;


$color: #ff6633;
$color-purple: #8833ff;
$color-red: #e62e2e;
$color-yellow: #ffcb33;
$color-green: #29cc39;
$color-blue-70: #7d8fb3;
$color-blue-60: #6b7a99;
$color-blue-50: #4d5e80;
$color-blue-35: #2d3c59;
$color-blue: #3361ff;
$color-dark-blue: #202b40;

$color-white: #fff;
