@import './function';
@import './variables';
@import './mixins';

.col-3 {
  width: 25%
}
.col-4 {
  width: 33.33%;
}
.col-9 {
  width: 75%;
}
body,ul,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
.p-60 {
  padding: vw(60);
}